

.squad{
       // padding: 0 !important;
      
    & .wrapper{
        width: 100%;
        flex-direction: column;
        padding: 0px; 
        align-items: flex-start;

        @media (min-width:768px) {
            width: auto;
           padding: 0 20px; 
        
        }

        @media (min-width:1024px) {
            padding: 0px; 
         
         }
    }

    &__view{
        
      

        &-slider{
            display: flex;
            flex-direction: column;
            align-items: center;
         

            @media (min-width:768px) {
                display: none;
                
            }
            &-btns{
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 0 15px;
                margin-bottom: 10px;
            }

            &_btn{
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            &_dots{
                display: flex;
                justify-content: space-between;
                align-items: center;
               
            }

            &_dot{
                width: 7px;
                height: 7px;
                background-color: black;
                border-radius: 50%;
                margin: 0 3px;

                &--active{
                    padding: 7px;
                }
            }
        }
    }
}

.squad-wrapper{
    width: 100%;
    @media (min-width:768px) {
        width: auto;
        display: flex;
    }
}

.squad__view-picture{

    margin-top: 10px;
   
    display: flex;

    @media (min-width:768px) {
        margin-right: 20px;
    }

    &_img{
        display: none;
        width: 100%;
        filter: brightness(.7);
        
        

        @media (min-width:768px) {
            display: block;
            max-width: 350px;
            max-height: 525px;
            width: 100%;
            min-width: 250px;
        }
    }

    &_gallery{
       
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 30px;
      

        @media (min-width:768px) {
            display: flex;
        }

        &-img{
            display: block;
            width: 50px;
            height: 60px;
            filter: brightness(.8);
            margin-bottom: 7px;
            cursor: pointer;
        }
    }
}

.squad__text{
    
    padding: 10px 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    @media (min-width:768px) {
        width: 60%;
    }

    &-description{
        padding: 0 !important;
        margin-top: 20px;
        position: relative;
        padding-bottom: 20px !important;
        

        @media (min-width:768px) {
            padding-bottom: 40px !important;
        }

        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100vw;
            height: 2px;
            background-color: black;
            position: absolute;
            transform: translateX(30px);
    
            @media (min-width:768px) {
                transform: translateX(0px);
            }
        }
    }
    
    &-name{
        font-size: 1.5rem;
        font-weight: bold;
    }

   
}

.swiper-container {
  
    max-height: 600px;
   

    @media (min-width:768px) {
        display: none;
    }
}

.swiper-slide {
   
      text-align: center;
      font-size: 18px;
      background: #fff;
        
   

      &__img{
          display: block;
          width: 100%;
          height: 100%;
          filter: brightness(.8);
      }
    }