
.offer .wrapper{
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.offer-wrapper{
    margin-top: 30px;
    width: 100%;
    padding: 0;

    @media (min-width: 768px) {
        padding: 0 15px;
        
    }
}

.offer{

    &__gallery{
       
      
        justify-content: center;
        flex-direction: row-reverse;
        display: none;

        @media (min-width: 768px) {
            display: flex;
        }
        &-img{
            display: block;
            width: 100%;
            min-width: 250px;
        }
        &-description{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            font-size: .8rem;

            @media (min-width: 768px) {
                margin-right: 80px;
                margin-top: 0px;
                max-width: 500px;
                width: 100%;
                min-width: 300px;
            }

            &-img{
                display: none;
                width: 100%;

                @media (min-width: 768px) {
                    display: inline;
                    width: auto;
                }
            }

            &-title{
                padding: 15px;
                font-size: 1.4rem;

                @media (min-width: 768px) {
                    padding: 15px 0;
                    font-size: 1.7rem;
                }
            }

            &-text{
                font-size: .9rem;
                padding: 0 15px;
               

                @media (min-width: 768px) {
                    padding: 15px 0;
                    margin-bottom: 0;
                    padding-right: 10px;
                }
            }
        }

        &-offers{
                display: none;
                flex-direction: column;

                @media (min-width: 768px) {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 90px;
                }

            &-img{
                margin-bottom: 15px;
                filter: brightness(.8);
                transition: all .4s;
                cursor: pointer;
                display: block;
                width: 100%;

                @media (min-width: 768px) {
                    display: inline;
                    width: 250px;
                }
                &:hover{
                filter: brightness(.4);
                }

                &:nth-of-type(1){
                    display: none;
                }
            }
        }
    }

    &__btn{
        width: auto !important;
        height: auto !important;
        padding: 10px 20px;
        line-height: 30px !important;
        margin: 0 !important; 
        align-self: flex-start;
        &-link{
            color: inherit;

            &:hover{
                color: inherit;
                text-decoration: none;
            }
        }
        
        @media (min-width: 768px) {
            margin-top: 10px !important; 
          
            padding: 15px 20px;
        }
    }
}