

.cooperating .wrapper{
    flex-direction: column;
    padding: 0; 
    align-items: flex-start;
}

.cooperating-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    padding: 0 10px;


}

.cooperating{

    &__title{
    
        @media (min-width:768px) {
            padding-left: 0 !important;
        }
    }

    &__person{
        display: flex;
        flex-direction: column;
        margin-right: 25px;
        width: 150px;
        margin-left: 20px;
        
        @media (min-width:768px) {
            margin-left: 0px;
        }
        &-picture{
            display: block;
            height: 170px;
            width: 100%;
        }

        &-name{
            width: 100%;
            text-align: center;
            margin-top: 15px;
        }
    }
}